@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

::selection {
  background: #1e3a8a;
  color: white;
}
